
*,
*::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style: none; */
}
:root{
    --color-primaray:#ff5722;
    --color-primaray-light:#ff7a50;
    --color-navbar-:#f8f8f8;
    --color-secondary-light:#fff6f2;
    --color-secondary-dark:#ffa589;
    --color-headings:#000;
    --color-body:#333333;
    --color-white:#fff;
}
html{
    font-size: 62.5%;
}

body{
    color:var(--color-body);
    font-size: 1.4rem;
    line-height: 3rem;
}

h1,h2,h3{
    color: var(--color-headings);
    font-weight: 700;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}
@media screen and (min-width:1024px) {
    body{font-size: 1.8rem;}
    h1{font-size: 5rem;}
    h2{font-size: 3.5rem;
    margin-bottom: 3.5rem;}   
    
}
   /* button */
.btn{
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
}
.btn--primary{
    background-color: var(--color-primaray);
    color: var(--color-white);
}
.btn--secondary{
background-color: var(--color-secondary-dark);
color: var(--color-white);
}
.btn--block{
    width: 100%;
    font-size: 1.6rem;
}
@media screen and (min-width:1024px) {
    .btn{ font-size: 1.6rem;}
    .btn--block{ font-size: 2rem;}  
    
}
  /* badge */
.badge{
      display: inline-block;     
      padding: 0.5rem 1.3rem;
      border-radius: 32px;
      background-color: #fff;
      border: 2px solid var(--color-primaray);
      color: var(--color-primaray);
      text-transform: uppercase;
      font: 1.2rem;
  }
.badge--primary{
      background-color: var(--color-primaray);
      color: var(--color-white);
  }
.badge--secondary{
    background-color: var(--color-white);
    color: var(--color-primaray);
}

@media screen and (min-width:1024px) {
    .badge{font-size: 2.4rem;}  
    }

    /* list */

.list{
    list-style: none;
    font-size: 1.8rem;
}
.list--inline .list__item {
    display: inline-block;
    margin-left: 2rem;

}

/* .list--tick .list__item::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(/assets/images/Tick-Square.svg) no-repeat ;
    padding-right: 2rem;
} */
.list--tick .list__item {
    
    background: url(/assets/images/Tick-Square.svg) no-repeat right center ;
    padding-right: 2.5rem;
    margin-top: 20px;
}
    
@media screen and (min-width:1024px) {
    .list--tick .list__item{
            font-size: 2rem;
            margin-bottom: 3rem;
    }  
    }

    /* plan */

    .block-plan{
        display: grid;
        gap: 8rem 6rem; 
        justify-content: center;
        grid-template-columns: repeat(auto-fit,minmax(250px,320px)) ;       
        margin-top: 5rem;
    }
    .plan{
       
        /* max-width: 450px; */
        font-size: 1.8rem;
        transition: all .2s ease-in ;
    }
    .plan__introduction{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .plan__price{
        font-size: 3rem;
    }
    .plan__billing-cycle{
        font-size: 1.4rem;
    }
    .plan__description{
        display: block;
        margin-top: 1.5rem;
    }
    .plan .btn--block{
        font-size: 1.6rem;
        margin-top: 10rem;
    }
    .card{
        border-radius: 20px;   
        
        overflow: hidden;    
        box-shadow: 0 0 20px 10px #e8dcdca1; 
    }

    .card__header , .card__body {
        padding: 3rem 2.5rem;
    }
    .card__header{
        background-color: var(--color-secondary-dark);
        color: var(--color-white);
    }
    .card--primary .card__header {
        background-color: var(--color-primaray-light)
    }
    /* .plan--transform{
        transform: scale(1.1);
    } */
    .plan--transform:hover{
        transform: scale(1.05);
    }
    .plan:hover{
        transform:scale(1.1);
    }
    @media screen and (min-width:1024px) {
        /* .block-plan{
            grid-template-columns: repeat(3,1fr);
            
        }  */
        .plan .btn--block{
            font-size: 1.8rem;
        }
        }
        .container{
            max-width: 1140px;
            margin: 20px auto;
            
        }
        /* feature */

        .feature{
            display: grid;
        }
        .feature__text{
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            padding: 1rem;
        }
        .feature__image > img{
            width: 90%;
            height: auto;
        }
        .feature__image{
            display: flex;
            justify-content: center;
        }
        .feature .btn{
            padding: 1.5rem 3rem;
            margin: 1rem;
        }
        

        @media screen and (min-width:1024px) {
           .feature{
               grid-template-columns: repeat(2,1fr);
           }
           .feature__image{
                order: 2;
           }
           .feature__detail{
               order: 1;
           }
            }

            /* contact-us */

            .contact-us{
                display: grid;
            }
            .contact-us__map{
                display: none;
            }

            @media screen and (min-width:1024px) {
                .contact-us{
                    grid-template-areas: 
                   '  address form'
                   '  icons form'
                   ' map form' ;  
                   grid-template-columns: 70fr 30fr;                   
                }
                .contact-us__form{
                    grid-area: form;
                }
                .contact-us__map{
                    grid-area: map;
                    display: block;
                }
                .contact-us__social{
                    grid-area:icons;
                    }
                .contact-us__icons{
                    grid-area: address;
                }    
                 }
    /* icon */

    .icon{
        width: 40px;
        height: 40px;
        color: var(--color-primaray);
    }
    .icon_container{
        background-color: antiquewhite;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }
    
    .contact-us__social{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }
    .contact-us__social .icon__holder{
        display: flex;
        align-items: center;
        
        margin-bottom: 2rem;
    }
    .icon__holder__label{
        margin-left: 2rem;
        display: block;
    }
   
    @media screen and (min-width:1024px) {
        .contact-us__social{
            flex-direction: row;
            justify-content: space-between;
        }
        .contact-us__social .icon__holder{
            flex-direction: column;
        }
        .icon__holder__label{
            order: 2;
            font-size: 1.4rem;
            margin-top: 1.5rem;
        }
         }

         .contact-us__icons{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        .contact-us__icons .icon_container{
            margin-left: 2rem;
        }
        
        @media screen and (min-width:1024px) {
            .contact-us__icons{
                flex-direction: row;
                justify-content: space-between;
            }
            .contact-us__icons .icon__holder{
                flex-direction: column;
            }
            .icon__holder__label{
                order: 2;
                font-size: 1.4rem;
                margin-top: 1.5rem;
            }
    
             }

             /* image */
             .contact-us__map{
                 width: 100%;
                 height: auto;
             }


             /* form */
             .contact-us__form{
                 margin-right: 3rem;
             }
             .form-wraper{
                 height: 100%;
                 border: 1px solid #ccc;
                 padding: 1rem ;
                 border-radius: 10px;
                 background-color: white;

                 }

             .form-wraper h3{
                 margin: 5.3rem 0;
                 text-align: center;
             }    
             .form-wraper form{
                 display: flex;
                 flex-direction: column;
                 justify-content: space-between;
                 height: 80%;
             }
             input
             ,textarea{
                 display: block;
                 outline: 0;
                 border: 0;
                              }
            ::placeholder{
                font-size: 1.4rem;
                color:#333333;
                font-family: 'vazir';
            }
            .form-wraper input:focus,
            .form-wraper textarea:focus {
                border: 1px solid var(--color-primaray);
            }
             .form-wraper input ,textarea{
                 border-radius: 40px;
                 border: 1px solid #ccc;
                 padding:1.5rem 1.5rem;
                 background: #f5f5f5;
             }
             .form-wraper textarea{
                 border-radius: 5px;
             }
             textarea{
                 resize: none;
             }

/* footer */

.footer__main{
    background-color: #000;
    padding: 2rem;
    min-height: 250px;
    display: flex;
    align-items: center;
}

.footer__main .footer{
display: flex;
flex-direction: column;
}
.footer__item{
    margin-bottom: 2.5rem;

}
.footer__item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 0.5rem;
    display: block;
}
.footer__item h6{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.footer__item.enamad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__enamad{
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 0.5rem ;
    max-width: 80px;
    margin-left: 0.5rem;
}
.footer__enamad img{
    width: 100%;
    height: auto;
}
@media screen and (min-width:768px) {
   .footer__main .footer{
       flex-direction: row;
       flex-wrap: wrap;
   }
   .footer__item{
    margin-left: 1.5rem;
    margin-bottom: 0rem;
   }

     }
/* Navbar */
.main_header{
    background-color:var(--color-navbar-);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}
.nav__expanded{
    font-size: large;
}

.nav__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    
}
.nav__item{
  
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.nav__item > a {
text-decoration: none;
color: blueviolet;
display: block;
border-bottom: 1px solid #333333 ;
}
.nav__item > a:hover {
    color: var(--color-primaray);
}

.nav__item.dow {
font-size: 1.4rem;
}
.nav__item.dow > a {
    font-size: 1.4rem;
    color: #f8f8f8;
    }
.nav__item .btn{
    padding: 1rem 2rem ;

}


@media screen and (min-width:768px) {
    .nav{
        padding: 0rem 2rem;
    }
   .nav__toggler{
       display: none;
          }
          .nav__list{
           align-items: center;
            display: flex;
            flex-direction: row;
            font-size: 1.4rem;
            width: auto;            
        }
        .nav__item{
            margin-right: 2rem;
            margin-bottom: 0;
            font-size: 1.6rem;
            border: 0;
            
        }
        .nav__item > a{
            border-bottom: none;
        }
 
      }

      /* hero */

      .hero-section{
          width: 100%;
          height: 478px;
      }
      .hero-section img{
          width: 100%;
          height: auto;
      }
    .hero-wraper{
        top: 0;
        left: 0;
        width: 100%;
        height: 478px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }
    .intro-btn{       
        background-image: linear-gradient(51deg,rgba(23,26,60,.7) 5%,rgba(23,26,60,.3) 95%);
       border-radius: 20px;
       padding: 16px;
       display: flex;
       flex-direction: column;
       width: 270px;
       height: auto;
       

    }
    .intro-btn h1{
        /* margin-top: auto; */
        font-size: 2.5rem;
        color: #fff;
        /* background-color: rgb(173, 7, 7); */
    }
    .intro-btn h2{
        font-size: 1.6rem;
        color: #fff;
        margin: 1rem ;
    }

    .intro-btn__passanger{
        background-color: #fff;
        border-radius: 12px;
        margin-bottom: 2rem;
        padding: 14px;
        width: 220px;
    }
    .intro-wraper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media screen and (min-width:768px) {
        .hero-wraper{
            justify-content: flex-start;
        }
        .intro-wraper{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .intro-btn{
            width: 530px;
            padding: 25px;
            border-radius: 20px;
        }
        .intro-btn h1{
            font-size: 5rem;
        }
        .intro-btn h2{
            font-size: 2.5rem;
        }
    }

